<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Website Bán Sách Online</title>

    <link href="~/Content/fwt.css" rel="stylesheet" />




</head>
<body>
    <div id="wrapper">

        <div id="header">

            <div id="logo">
                <h1><a href="#"><span>Website Bán Sách Online</span></a></h1>
            </div>

            <div id="nav">
                <ul id="dropmenu">
                    <li class="first current" style="white-space:nowrap;">
                        <a href="#">Trang Chủ</a>
                    </li>
                    <li class="opener" style="cursor: pointer; white-space: nowrap;">
                        <a href="#">Thể Loại Sách</a>

                    </li>
                    <li style="white-space: nowrap;">
                        <a href="#">Liên Hệ</a>
                    </li>
                    <li class="last" style="white-space: nowrap;">
                        <a href="#">Tài Khoản</a>
                    </li>
                </ul>
                <br class="clear">
            </div>

        </div>
        <!-- END HEADER -->
        <div id="page">

                <div>Slide Anh</div>
                <br class="clear">
                 <!--END SLIDER-->

            </div>
        <!-- END PAGE -->

        <div id="products">
            @RenderBody()
            <hr />
            <br class="clear">
        </div>
        <div id="footer">

        </div>
        <div id="copyright">
            FWTShop by <a href="http://freewebtemplates.com/">FWT</a>. jQuery by <a href="http://nodethirtythree.com/">N33</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.
        </div>	
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
